@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");

:root {
  --white: #fff;
  --black: #1c2b2d;
  --blue: #31326f;
  --light-blue: #005490;
  --color-primary: #9d0191;
  --color-sec: #db6400;
  --grey: #eee;
  --dark-grey: #222831;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-family: 'Times New Roman', Times, serif;
  background-color: #a5c4d4;
}

p {
  font-size: 1.6rem;
  line-height: 1.5;
}

img {
  width: 100%;
}

.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 20px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* start here */


.box{
    display:flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.calc{
    width:30rem;
    height:48rem;
    margin: 0 auto;
    background-color: var(--grey);
    padding: 1.5rem;
    border-radius: 3px;
    position: relative;
}
.result{
    list-style-type: none;
    color:var(--dark-grey);
    height: 4.8rem;
    width:100%;
    margin-bottom: 5px;
    padding: 1rem;
    overflow: hidden;
    border: 2.25px solid #253D5B;
    border-radius: 3px;
    
}


.keys{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5px;
    font-size: 1.6rem;
}

.keys li{
    list-style-type: none;
    width: 5rem;
    background-color: var(--white);
    margin: 1rem 0.5rem;
    padding: 1rem;
    border-bottom: 2px solid #253D5B;
    border-radius: 3px;
    color:var(--dark-grey);
    text-align: center;
    cursor: pointer;
    transition: all 0.2s;
    font-size: 3rem;
    font-weight: 300;
    text-decoration: none;
}

.keys li:hover{
    background-color: #253D5B;
    color: var(--white);
}

.keys .equals{
    background-color: #253D5B;
    color: var(--white);
    font-size: 3rem;
    font-weight: 300;
} 
.heading{
    font-size: 5rem;
    position: absolute;
    top:7rem;
    left:67rem;
    color: white;
}
.result p{
    font-size: 3rem;
    font-weight: 300;
    padding-bottom:10px;
}

.keys .clear{
    background-color: #253D5B;
    color: var(--white);
    font-size: 3rem;
    font-weight: 300;
} 
.backspace{
    border: none;
    font-size: 2.5rem;
    color:#253D5B;
    background-color: white;
}
.backspace:hover{
    background-color: #253D5B;
    color: white;
}
#btn{
 border: none;
 background-color: white;
}
#btn:hover{
    border: none;
    background-color:#253D5B;
    color: white;
   }
