*{
    margin:0;
    padding:0;
    font-family: 'Times New Roman', Times, serif;

}
.container{
    width:500px;
    height:250px;
    /* border:2px solid black; */
    text-align: center;
    border-radius: 10px;
    background-color: #f5f381;
}
section{
    display: flex; 
    justify-content: center;
    align-items: center;
    height:100vh;
}
.input-text{
    position: relative;
    top:70px;
    text-align: center;
}
.btn{
    position: relative;
    top:70px;
    font-size: 1.1rem;
    padding: 10px 20px;
    background-color: rgb(48, 185, 240);
    color:#ffffff;
    border-radius: 10px;
    border: none;

}
.result{
    position: relative;
    top:115px;
    font-size: 20px;
    font-weight: 600;
    color:#8b575c;
}
body{
    background-color: #e0b0d5;
}
.input-text{
    width:60%;
    padding:10px;
    border: none;
    outline:none;
    border-radius: 10px;
    font-size: 1.30rem;
    margin-right: 10px;
    color:#1B4965;
    background-color: #f3fcf0;
    

}
.btn:hover{
    background-color: white;
    color:#1b4965;
    font-size: 1.33rem;
}
.heading{
    position: relative;
    top: 30px;
    color:#1b4965;
    font-size: 28px;
}